<form action="">  
    <label for="add-parcel-name-ipt">Parcel Name</label><br>
    <input class="form-control" type="text" name = "parcel-name" id = "add-parcel-name-ipt"> <br> 
    <label for="add-public-name-ipt">Parcel Public Name</label><br>
    <input class="form-control" type="text" name = "parcel-name" id = "add-public-name-ipt">  <br>
    <label for="add-measure-name-ipt">Parcel Measure Name</label><br>
    <input class="form-control" type="text" name = "parcel-name" id = "add-measure-name-ipt"> <br> 
    <a href="#" class="btn btn-primary">Add</a>
</form>
