<form [formGroup] = "addParcelForm" (ngSubmit) = "onSubmit()">  
    
    <div class="row">
        <div class="col">
            <label for="add-parcel-name-ipt">Parcel Name</label><br>
            <input class="form-control" type="text" formControlName = "parcelName" id = "add-parcel-name-ipt">
        </div>
        <div class="col">
            <label for="add-public-name-ipt">Parcel Public Name</label><br>
            <input class="form-control" type="text" formControlName = "publicParcelName" id = "add-public-name-ipt">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10">
            <label for="add-measure-name-ipt">Parcel Measure Name</label><br>
            
            
            <select class="form-select" formControlName = "selMeasure" >
                <option value = "No Measure" [selected] = "true">ไม่มีหน่วยวัด</option>
                <option *ngFor = "let m of mList;let i = index" [attr.data-index]="i" [value] = "m.measureName" >{{m.measureName}}</option>
            </select><br>
            <br>

            
            
        </div>
        <div class="col">
            <label for="add-public-name-ipt">Quantity</label><br>
            <input class="form-control" type="number" formControlName = "quantity" id = "quantity-ipt">
        </div>
    </div>
     
      <br>
    <button class="btn btn-primary"  [disabled] = "!addParcelForm.valid" >Add</button>
</form>