

    <table class="table">
        <thead class = "table-dark">
            <tr>
                <th>ชื่อ</th>
                <th>ชื่อเป็นทางการ</th>
                <th>หน่วยวัด</th>
                <th>จำนวน</th>
                <th>เครื่องมือ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let parcel of allItems'>
                <td>{{parcel.name}}</td>
                <td>{{parcel.publicName}}</td>
                <td>{{parcel.measure}}</td>
                <td>{{parcel.quantity}}</td>
                <td><a href="javascript:void(0)" class = "btn btn-danger" (click) = "deleteParcel(parcel._id)">ลบ</a>&nbsp;<a href="javascript:void(0)" class = "btn btn-secondary" (click) = "editParcel({ _id : parcel._id , parcelName :parcel.name, publicParcelName : parcel.publicName, measureName : parcel.measure })" >แก้ไข</a></td>
            </tr>
        </tbody>
            
        
    </table>


